.debug-ui {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 0.1em;
}

.debug-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.debug-ui label {
	display: flex;
    align-items: center;
}

.debug-ui label > span:first-child {
	flex: none;
}

.debug-ui label > input {
	flex: auto;
	margin-left: 0.5em;
}

