.debug-ui {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 1em;
	resize: both;
	overflow: auto;
}

.debug-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.debug-ui label {
	display: flex;
    align-items: center;
}

.debug-ui label > span:first-child {
	flex: none;
}

.debug-ui label > input {
	flex: auto;
	margin-left: 0.5em;
}

.debug-ui input[type=checkbox],
.debug-ui input[type=button] {
	margin: 0;
	cursor: pointer;
}

.debug-ui input[disabled] {
	cursor: not-allowed;
}
